* {
    margin: 0%;
    padding: 0%;
}
body {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(145, 145, 145);
    background-color: rgb(35, 35, 35);
    margin: 0px;
    padding: 0px;
}
div.wrapper {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.row1 {
    color: rgb(192, 186, 182);
    background-color: rgb(51, 51, 51);
}
#header{
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: auto;
}
.clear{
    clear: both;
}
#hgroup{
    float: left;
    margin: 0 0 20px;
}
header #hgroup h1{
    font-size: 36px;
}
header #hgroup h1,header #hgroup h2{
    font-weight: normal;
    text-transform:none;
}
.row1, .row1 a {
    color: rgb(192, 186, 182);
    background-color:rgb(51, 51, 51);
}
header #hgroup h2{
    font-size: 13px;
}
header nav{
    display: block;
    float: right;
    color: rgb(192, 186, 182);
    background-color: rgb(35, 35, 35);
    margin: 10px 0 0 0;
    padding: 20px 0;
}
header nav ul{
    list-style: none;
    padding: 0 20px;
}
header nav li{
    display: inline-block;
    margin-right: 25px;
}
.last{
    margin-right: 0;
}
#header nav li a {
    color: rgb(192, 186, 182);
        background-color: rgb(35, 35, 35);}
 div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;}
#container {
   padding: 50px ;
}

#header, #container, #footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.homepage {
    display: flex;
    padding-top: 50px;
    
}
/* .clear {
    display: block;
    clear: both;
}
#container #slider {
    margin-bottom: 50px;
}
#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
} */
.more{
    margin-left: 130px;
    
   
}
.more a {color: orange;}
