*{
    margin: 0%;
    padding: 0%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}
div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
#header {
    padding: 20px 0;
}
#header, #container, #footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}
.clear {
    display: block;
    clear: both;
}
#header #hgroup {
    float: left;
    margin: 0 0 20px 0;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
a {
    outline: none;
    text-decoration: none;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
#header nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
    clear: both;
}
#header nav ul {
    padding: 0 20px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav li.last {
    margin-right: 0;
}
#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container {
    padding: 30px 0;
}
#container #slider {
    width: 100%;
    overflow: auto;
}
#container section {
    display: block;
    margin-bottom: 30px;
    padding: 0;
}
.clear {
    display: block;
    clear: both;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
#container #slider figure img {
    float: right;
    width: 630px;
    height: 300px;
    padding-bottom: 30px;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #slider figure figcaption {
    display: block;
    float: left;
    width: 290px;
    height: 260px;
    padding: 20px;
    overflow: hidden;
    color: #989898;
    background-color: #464646;
    line-height: 1.6em;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
#container #slider figure h2 {
    font-size: 42px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
#container .more {
    text-align: right;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
#container #slider figure figcaption a {
    color: #FF9900;
    background-color: #464646;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
a {
    outline: none;
    text-decoration: none;
}
#container #intro {
    width: 100%;
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D6D6D6;
    overflow: auto;
}
#container #intro section {
    width: 100%;
}
#container section {
    display: block;
    margin-bottom: 30px;
    padding: 0;
}
#container #intro section article {
}
.two_quarter {
    width: 470px;
    margin-bottom: 30px;
    margin-right: 10px;
}
.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
    
}
#container #intro section article h2 {
    margin-bottom: 15px;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
a {
    outline: none;
    text-decoration: none;
}
.lastbox {
    margin-right: 0;
}

#container #intro section article figure ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.clear {
    display: block;
        clear: both;
    }
#container #intro section article figure ul li {
    display: inline-block;
    float: left;
    margin: 0 25px 0 0;
}
#container #intro section article figure ul li img {
    width: 130px;
    height: 130px;
    margin: 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #intro section article figure ul li.last {
    margin: 0;
}
#container #intro section article figure ul li {
    display: inline-block;
    float: left;
    margin: 0 25px 0 0;
}
#container #intro section article figure ul li img {
    width: 130px;
    height: 130px;
    margin: 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #intro section article figure figcaption {
    display: block;
    width: 100%;
    margin-top: 20px;
    clear: both;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
a {
    outline: none;
    text-decoration: none;
}
#container #homepage {
    display: block;
    width: 100%;
    line-height: 1.6em;
    overflow: auto;
}
#container .last {
    margin: 0;
}
#container #homepage section {
    margin-bottom: 0;
}

#container section {
    display: block;
    margin-bottom: 30px;
    padding: 0;
}
.one_quarter {
    width: 225px;
}
.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
    
}
#container #homepage section h2.title {
    margin: 0 0 25px 0;
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage section article header h2 {
    font-size: 13px;
    font-weight: bold;
}
#container #homepage section article address, #container #homepage section article time {
    font-size: 10px;
    font-style: normal;
}
#container #homepage section article address, #container #homepage section article time {
    font-size: 10px;
    font-style: normal;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
#container #homepage section article footer {
    text-align: left;
}
#container #homepage section footer {
    clear: both;
}
#container #homepage section {
    margin-bottom: 0;
}
#container section {
    display: block;
    margin-bottom: 30px;
    padding: 0;
}

.one_quarter {
    width: 225px;
}
.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
   
}
#container #homepage section h2.title {
    margin: 0 0 25px 0;
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#container #homepage section nav li {
    margin: 0 0 8px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #D6D6D6;
}
#container #homepage section nav a {
    padding: 0 0 0 10px;
    background: url(../images/arrow.gif) left center no-repeat;
}
#container #homepage section nav li.last {
    margin: 0;
}
#container #homepage section nav li {
    margin: 0 0 8px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #D6D6D6;
}
#container #homepage section h2.title {
    margin: 0 0 25px 0;
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage section {
    margin-bottom: 0;
}
#container section {
    display: block;
    margin-bottom: 30px;
    padding: 0;
}
.lastbox {
    margin-right: 0;
}

#container #homepage section h2.title {
    margin: 0 0 25px 0;
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.imgl {
    float: left;
    margin: 0 30px;
    clear: left;
}
.imgholder, .imgl, .imgr {
    padding: 4px;
    border: 1px solid #D6D6D6;
    text-align: center;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #homepage section footer {
    clear: both;
}
#container .more {
    text-align: right;
}

#footer {
    padding: 20px 0;
}
#header, #container, #footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}
.clear {
    display: block;
    clear: both;
}
#footer p {
    margin: 0;
    padding: 0;
}
.fl_left {
    float: left;
}


a {
    outline: none;
    text-decoration: none;
}
.fl_right {
    float: right;
}


a {
    outline: none;
    text-decoration: none;
}
.row3, .row3 a {
    color: #919191;
    background-color: #232323;}